<footer class="footer">
    <div class="footer-content">
      <div class="footer-line"></div>
      <div class="footer-powered">
        <span>Powered by : </span>
        <img src="/images/filmetrics.png" alt="FILMETRICS CORPORATION" class="filmetrics-logo">
      </div>
    </div>
  </footer>